@inject SignInManager<PortfolioAbdo.DAL.Extend.ApplicationUser> signInManager
@model MultipleModels
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@SharedLocalizer["AbdalrhmanAdelPortfolio|MyProfile"]</title>
    <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="~/img/BlackElegantandMinimalistFurnitureLogo3.png" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme1">

    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>
    <!-- end loader -->
    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <div class="image">
                            <img src="~/img/Black_Elegant_and_Minimalist_Furniture_Logo__2_-removebg-preview.png" class="logo-icon" alt="logo icon">
                        </div>
                    </li>
                    <li class="nav-item">
                        <label class="label-info">
                            Welcome to profile : @Model.ApplicationUserVm.UserName
                        </label>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" asp-action="Index" asp-controller="Home" asp-area="Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper" style="margin-left: 0px;">
            <div class="container-fluid">

                <div class="row mt-3">
                    <div class="col-lg-4">
                        <div class="card profile-card-2" style="margin-top:30px; padding-bottom:30px;">
                            <div class="card-body pt-5">
                                @if (Model.ApplicationUserVm.PhotoUrl == null)
                                {
                                    <img src="~/img/img_avatar1.png" alt="profile-image" class="profile">
                                }
                                else
                                {
                                    <img src="~/PhotoFiles/PhotoProfile/@Model.ApplicationUserVm.PhotoUrl" alt="profile-image" class="profile">
                                }
                                @if (Model.ApplicationUserVm.Name == null)
                                {
                                    <h4 class="card-title">@Model.ApplicationUserVm.UserName</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">@Model.ApplicationUserVm.Name</h4>
                                }
                                @if (Model.ApplicationUserVm.JobTitle != null)
                                {
                                    <h6 class="card-title">@SharedLocalizer["JobTitle"]:</h6>
                                    <p class="card-text">@Model.ApplicationUserVm.JobTitle</p>
                                }
                                @if (Model.ApplicationUserVm.CompanyName != null)
                                {
                                    <h6 class="card-title">@SharedLocalizer["CompanyName"]:</h6>
                                    <p class="card-text">IT Company</p>
                                }
                                <h6 class="card-title">@SharedLocalizer["Email"]:</h6>
                                <p class="card-text">@Model.ApplicationUserVm.Email</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                                    <li class="nav-item">
                                        <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link active"><i class="icon-envelope-open"></i> <span class="hidden-xs">@SharedLocalizer["YourTestimonials"]</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">@SharedLocalizer["Edit"]</span></a>
                                    </li>
                                </ul>
                                <div class="tab-content p-3">
                                    <div class="tab-pane active" id="messages">
                                        <div class="table-responsive">
                                            <table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable text-center font-weight-bold" style="width: 100%; white-space: nowrap; table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">@SharedLocalizer["Id"]</th>
                                                        <th scope="col">@SharedLocalizer["YourMessage"]</th>
                                                        <th scope="col">@SharedLocalizer["Details"]</th>
                                                        <th scope="col">@SharedLocalizer["Update"]</th>
                                                        <th scope="col">@SharedLocalizer["Delete"]</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.TestimonialsVmAll)
                                                    {
                                                        <tr>
                                                            <th scope="row">@item.Id</th>
                                                            <td scope="col" style="overflow: hidden; text-overflow: ellipsis;">@item.Message</td>
                                                            <td><a class="btn btn-success" onclick="showInPopup('@Url.Action("DetailsTestim","Profile",new { Area = "Identity",id=item.Id },null,null)', '@SharedLocalizer["DetailsTestimonials"]')">@SharedLocalizer["Details"]</a></td>
                                                            <td><a class="btn btn-info" onclick="showInPopup('@Url.Action("UpdateTestim","Profile",new { Area = "Identity",id=item.Id },null,null)', '@SharedLocalizer["UpdateTestimonials"]')">@SharedLocalizer["Update"]</a></td>
                                                            <td><a class="btn btn-danger" onclick="showInPopup('@Url.Action("DeleteTestim","Profile",new { Area = "Identity",id=item.Id },null,null)', '@SharedLocalizer["DeleteTestimonials"]')">@SharedLocalizer["Delete"]</a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="edit">
                                        <form asp-action="EditOrCreateInformation" asp-controller="Profile" asp-area="Identity" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="@Model.ApplicationUserVm.Id" />
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">@SharedLocalizer["Name"]</label>
                                                <div class="col-lg-9">
                                                    @if (Model.ApplicationUserVm.Name == null)
                                                    {
                                                        <input class="form-control" type="text" asp-for="@Model.ApplicationUserVm.Name" value="@Model.ApplicationUserVm.UserName"/>
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control" type="text" asp-for="@Model.ApplicationUserVm.Name"/>
                                                    }
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">@SharedLocalizer["Changeprofilephoto"]</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" asp-for="@Model.ApplicationUserVm.Photo" type="file">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">@SharedLocalizer["JobTitle"]</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" type="text" asp-for="@Model.ApplicationUserVm.JobTitle" placeholder="Job Title">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">@SharedLocalizer["CompanyName"]</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" type="text" asp-for="@Model.ApplicationUserVm.CompanyName" placeholder="Company Name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                                <div class="col-lg-9">
                                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                                    <input type="submit" class="btn btn-primary" value=@SharedLocalizer["SaveChanges"]>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->
        </div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer" style="left: 0px;">
            <div class="container">
                <div class="text-center">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Abdalrhman Adel | .Net Developer
                </div>
            </div>
        </footer>
        <!--End footer-->

    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>

    <!-- Modal js -->
    <script src="~/js/ModalSite.js"></script>
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
<div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="form">
        <div class="modal-content" style="background-image: linear-gradient(45deg, #1565C0, #1E88E5); ">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>