
@{
    ViewData["Title"] = SharedLocalizer["CategoryProtoflio"];
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

<body>
    <input onclick="showInPopup('@Url.Action("Create","Dashboard_CategoryProtoflio",new { Area = "Dashboards" },null,null)','@SharedLocalizer["CreateNewCategory"]')" type="button" class="btn btn-outline-info" value='@SharedLocalizer["CreateNewCategory"]' />
    <br /><br />
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <center><h5 class="card-title">@SharedLocalizer["CategoryProtoflioTable"]</h5></center>
                    <div class="table-responsive">
                        <table id="example" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">@SharedLocalizer["Id"]</th>
                                    <th scope="col">@SharedLocalizer["NameCategory"]</th>
                                    <th scope="col">@SharedLocalizer["Details"]</th>
                                    <th scope="col">@SharedLocalizer["Update"]</th>
                                    <th scope="col">@SharedLocalizer["Delete"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td><a class="btn btn-success" onclick="showInPopup('@Url.Action("Details","Dashboard_Protoflio",new { Area = "Dashboards" },null,null)','@SharedLocalizer["DetailsProject"]')">@SharedLocalizer["Details"]</a></td>
                                    <td><a class="btn btn-info" onclick="showInPopup('@Url.Action("Update","Dashboard_Protoflio",new { Area = "Dashboards" },null,null)','@SharedLocalizer["UpdateProject"]')">@SharedLocalizer["Update"]</a></td>
                                    <td><a class="btn btn-danger" onclick="showInPopup('@Url.Action("Delete","Dashboard_Protoflio",new { Area = "Dashboards" },null,null)','@SharedLocalizer["DeleteProject"]')">@SharedLocalizer["Delete"]</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td><a class="btn btn-success">Details</a></td>
                                    <td><a class="btn btn-info">Update</a></td>
                                    <td><a class="btn btn-danger">Delete</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td><a class="btn btn-success">Details</a></td>
                                    <td><a class="btn btn-info">Update</a></td>
                                    <td><a class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="form">
        <div class="modal-content" style="background-image: linear-gradient(45deg, #1565C0, #1E88E5); ">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section DataTableScripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All'],
                ],
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                    'print'
                ]
            });
        });
    </script>
}