@model PortfolioVm
@{
    Layout = null;
}
@await Component.InvokeAsync("NToastNotify")
<div class="row">
    <div class="col-md-9">
        <form asp-action="Delete" asp-controller="Dashboard_Protoflio" asp-area="Dashboards" enctype="multipart/form-data" method="post" onsubmit="return jQueryAjaxPostFile(this);">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Project_Name" class="control-label">@SharedLocalizer["ProjectName"]:</label>
                <input asp-for="Project_Name" type="text" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Project_Photo" class="control-label">@SharedLocalizer["ProjectPhoto"]:</label>
                <input asp-for="Project_Photo" type="file" readonly class="form-control-file form-control-rounded" />
            </div>
            <div class="form-group">
                <label asp-for="Category_ProtoflioId" class="control-label">@SharedLocalizer["ProjectService"]:</label>
                <select asp-for="Category_ProtoflioId" readonly class="custom-select">
                    <option>@Model.Category_Portoflio.Category_Name</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Project_Description" class="control-label">@SharedLocalizer["ProjectDescription"]:</label>
                <textarea asp-for="Project_Description" readonly rows="8" class="shadow form-control form-control-lg"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Project_Client" class="control-label">@SharedLocalizer["ProjectClient"]:</label>
                <input asp-for="Project_Client" type="text" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Project_Date" class="control-label">@SharedLocalizer["ProjectDate"]:</label>
                <input asp-for="Project_Date" type="date" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Project_GitHub" class="control-label">@SharedLocalizer["ProjectGitHubLink"]:</label>
                <input asp-for="Project_GitHub" type="url" readonly class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value=@SharedLocalizer["Delete"] class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

