@model PortfolioVm
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-9">
        <form asp-action="Details" asp-controller="Dashboard_Protoflio" asp-area="Dashboards" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
              <div class="form-group">
                <label asp-for="Project_Name" class="control-label">@SharedLocalizer["ProjectName"]:</label>
                <input asp-for="Project_Name" type="text" readonly class="form-control" />
              </div>
              <div class="form-group">
                  <center><img src="~/PhotoFiles/@Model.Project_Photo_Name" class="border-radius" width="70" height="70" style=" border-radius: 50%; " /></center>
              </div>
                <div class="form-group">
                    <label asp-for="Category_Portoflio.Category_Name" class="control-label">@SharedLocalizer["ProjectService"]:</label>
                    <select readonly class="custom-select">
                        <option>@Model.Category_Portoflio.Category_Name</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Project_Description" class="control-label">@SharedLocalizer["ProjectDescription"]:</label>
                    <textarea asp-for="Project_Description" readonly name="Description" placeholder="Description" id="message" rows="8" class="shadow form-control form-control-lg"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Project_Client" class="control-label">@SharedLocalizer["ProjectClient"]:</label>
                    <input asp-for="Project_Client" type="text" readonly class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Project_Date" class="control-label">@SharedLocalizer["ProjectDate"]:</label>
                    <input asp-for="Project_Date.Date" type="date" readonly class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Project_GitHub" class="control-label">@SharedLocalizer["ProjectGitHubLink"]:</label>
                    <input asp-for="Project_GitHub" type="url" readonly class="form-control" />
                </div>
        </form>
    </div>
</div>

