@model PortfolioVm
@{
    Layout = null;
}
@await Component.InvokeAsync("NToastNotify")
<div class="row">
    <div class="col-md-9">
        <form asp-action="Update" asp-controller="Dashboard_Protoflio" asp-area="Dashboards" enctype="multipart/form-data" method="post" onsubmit="return jQueryAjaxPostFile(this);">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Project_Name" class="control-label">@SharedLocalizer["ProjectName"]:</label>
                <input asp-for="Project_Name" type="text" class="form-control" />
                <span asp-validation-for="Project_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_Photo">@SharedLocalizer["ProjectPhoto"]:</label>
                <input type="file" asp-for="Project_Photo" class="form-control-file form-control-rounded" accept=".jpg,.png">
                <span asp-validation-for="Project_Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_ProtoflioId" class="control-label">@SharedLocalizer["ProjectService"]:</label>
                <select asp-for="Category_ProtoflioId" asp-items="(SelectList)ViewBag.catgportfolio" class="custom-select">
                    <option></option>
                </select>
                <span asp-validation-for="Category_ProtoflioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_Description" class="control-label">@SharedLocalizer["ProjectDescription"]:</label>
                <textarea asp-for="Project_Description" rows="8" class="shadow form-control form-control-lg"></textarea>
                <span asp-validation-for="Project_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_Client" class="control-label">@SharedLocalizer["ProjectClient"]:</label>
                <input asp-for="Project_Client" type="text" class="form-control" />
                <span asp-validation-for="Project_Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_Date" class="control-label">@SharedLocalizer["ProjectDate"]:</label>
                <input asp-for="Project_Date" type="date" class="form-control" />
                <span asp-validation-for="Project_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_GitHub" class="control-label">@SharedLocalizer["ProjectGitHubLink"]:</label>
                <input asp-for="Project_GitHub" type="url" class="form-control" />
                <span asp-validation-for="Project_GitHub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@SharedLocalizer["Update"] class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
