@model HomeVm
@{
    ViewData["Title"] = SharedLocalizer["HomeDashboard"];
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}
<div style="position:center">
    <div class="row mt-3">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <center>
                        <div class="card-title">@SharedLocalizer["HomeForm"]</div>
                    </center>
                    <hr>
                    <form asp-action="CreateOrEditInformation" asp-controller="Dashboard" asp-area="Dashboards" method="post" class="form-group" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label for="input-6">@SharedLocalizer["BannerName"]</label>
                            <input type="text" class="form-control form-control-rounded" asp-for="Banner_Name" id="input-6" placeholder="@SharedLocalizer["EnterBannerName"]">
                            <span asp-validation-for="Banner_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-7">@SharedLocalizer["BannerJobTitle"]</label>
                            <input type="text" class="form-control form-control-rounded" asp-for="Banner_Job_Title" id="input-7" placeholder="@SharedLocalizer["EnterYourBannerJobTitle"]">
                            <span asp-validation-for="Banner_Job_Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-10">@SharedLocalizer["YearsofExperience"]</label>
                            <input type="text" class="form-control form-control-rounded" asp-for="Years_Of_Experience" id="input-10" placeholder="@SharedLocalizer["EnterYearsofExperience"]">
                            <span asp-validation-for="Years_Of_Experience" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-10">@SharedLocalizer["Linkfacebook"]</label>
                            <input type="text" class="form-control form-control-rounded" asp-for="Link_facebook" id="input-10" placeholder="@SharedLocalizer["EnterLinkfacebook"]">
                            <span asp-validation-for="Link_facebook" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-10">@SharedLocalizer["Linklinkedin"]</label>
                            <input type="text" class="form-control form-control-rounded" asp-for="Link_linkedin" id="input-10" placeholder="@SharedLocalizer["EnterLinklinkedin"]">
                            <span asp-validation-for="Link_linkedin" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-10">@SharedLocalizer["Linktwitter"]</label>
                            <input type="text" class="form-control form-control-rounded" asp-for="Link_twitter" id="input-10" placeholder="@SharedLocalizer["EnterLinktwitter"]">
                            <span asp-validation-for="Link_twitter" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-9">@SharedLocalizer["IntroduceYourSelf"]</label>
                            <textarea class="form-control form-control-rounded" asp-for="Introduce_your_self" id="input-9" maxlength="2500" rows="4" placeholder="@SharedLocalizer["EnterIntroduceYourSelf"]"></textarea>
                            <span asp-validation-for="Introduce_your_self" class="text-danger"></span>
                        </div>
                        <div class="custom-file">
                            <label for="input-8" asp-for="Cv">@SharedLocalizer["CV"]</label>
                            <input type="file" asp-for="Cv" class="form-control-file form-control-rounded" id="input-8" placeholder="@SharedLocalizer["EnterYourCV"]" accept=".pdf">
                            <span asp-validation-for="Cv" class="text-danger"></span>
                        </div>
                        <center>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-plus"></i>@SharedLocalizer["Submit"]</button>
                            </div>
                        </center>
                    </form>
                    <hr />
                    <!--================ Srart LogoExp Area =================-->
                    <form class="form-group" enctype="multipart/form-data">
                        <div class="row row-cols-3 justify-content-between">
                            <div class="form-group w-50">
                                <label for="input-10">@SharedLocalizer["ExperienceCompaniesPhoto"]</label>
                                <input type="file" class="form-control-file form-control-rounded" id="input-10" placeholder="@SharedLocalizer["EnterExperienceCompaniesPhoto"]">
                            </div>
                            @*<div id="poster-container" class="@(Model.Id > 0 ? string.Empty :"d-none")">
                                    <img src="@(Model.Id > 0 ? $"data:image/*;base64,{Convert.ToBase64String(Model.Poster)}" : string.Empty)" alt="Poster" class="img-thumbnail" />
                                </div>*@
                            <button type="submit" style="float:right;" class="btn btn-light btn-round px-5"><i class="icon-plus"></i>@SharedLocalizer["SubmitPhoto"]</button>
                        </div>
                    </form>
                    <div class="row row-cols-1 row-cols-md-3">
                        <div class="col mb-4">
                            <div class="card h-100">
                                <img src="~/img/img_avatar1.png" class="card-img-top" alt="~/img/img_avatar1.png">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                                <img src="~/img/img_avatar1.png" class="card-img-top" alt="~/img/img_avatar1.png">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a short card.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                                <img src="~/img/img_avatar1.png" class="card-img-top" alt="~/img/img_avatar1.png">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                                <img src="~/img/img_avatar1.png" class="card-img-top" alt="~/img/img_avatar1.png">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--================ End LogoExp Area =================-->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Cv').on('change', function () {
                var selectedfile = $(this).val().split('\\').pop();
                $(this).siblings('label').text(selectedfile);
            });
        });
    </script>
}