@model ResetPasswordVm
@{
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
    ViewData["Title"] = SharedLocalizer["AbdalrhmanAdelPortfolio|ResetPassword"];
}

<!DOCTYPE html>
<div class="height-100v d-flex align-items-center justify-content-center">
    <div class="card card-authentication1 mb-0">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="~/img/Black_Elegant_and_Minimalist_Furniture_Logo__2_-removebg-preview.png" style="height:90px; width:90px;" alt="logo icon">
                </div>
                <center><div class="card-title text-uppercase pb-2">@SharedLocalizer["ResetPassword"]</div></center>
                <form asp-area="Identity" asp-controller="Account" asp-action="ResetPassword">
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class="form-group">
                        <label>@SharedLocalizer["Password"]</label>
                        <div class="position-relative has-icon-right">
                            <input asp-for="Password" type="password" id="exampleInputPassword" class="form-control input-shadow" placeholder="Enter Password">
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@SharedLocalizer["ConfirmPassword"]</label>
                        <div class="position-relative has-icon-right">
                            <input asp-for="ConfirmPassword" type="password" id="exampleInputPassword" class="form-control input-shadow" placeholder="Enter Confirm Password">
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-light btn-block mt-3">@SharedLocalizer["ResetPassword"]</button>
                </form>
            </div>
        </div>
        @*<div class="card-footer text-center py-3">
                <p class="text-warning mb-0">@SharedLocalizer["Returntothe"]<a asp-area="Identity" asp-controller="Account" asp-action="Login">@SharedLocalizer["SignIn"]</a></p>
            </div>*@
    </div>
</div>
@section MicrosoftValidation{
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

